<!DOCTYPE html>
<html>
    <head>
        {%metas%}
        <title>{%title%}</title>

        <script src="./static/js/test.js"></script>
        <script src="./static/js/ext/svg.js"></script>
        <script src="./static/js/ext/jquery.csv.js"></script>
        <script src="./static/js/ext/plotly-latest.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
              integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
              crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        {%favicon%}
        {%css%}
    </head>
    <body>
        {%app_entry%}
            <div class="column"
                 id="myDiv"
                 style="padding-top: {% marginTop %};
                         padding-bottom:50px;
                         padding-left: {% marginLeft %};
                         text-align:center;
                         background-color: #c5c5c5;">
                <svg  style="background-color:#f2f2f2"
                      class="drawing"
                      id="drawing">
                    <div id="dataPopup" style="position: absolute;
                            width: 200px;
                            height: 100px;
                            z-index: 10;
                            background-color: #4b4b4b;
                            color: white;
                            border: solid 1px #fc0; visibility: hidden;" >

                    </div>
                </svg>
            </div>
        <footer>
            {%config%}
            <script src="./static/js/sldcomponents.js"></script>
            <script src="./static/js/events.js"></script>
            <script src="./static/js/schematic.js"></script>
            {%scripts%}
            {%renderer%}
        </footer>
        <div>My Custom footer</div>
    </body>
</html>
