<!DOCTYPE html>
<html>
    <head>
        {%metas%}
        <title>{%title%}</title>
        {%favicon%}
        {%css%}
    </head>
    <body id="body" style="overflow: hidden">
        {%app_entry%}
        <div class="row">
          <div class="column"></div>
          <div class="column"></div>
          <div class="column"></div>
        </div>
            <div class="column"
                 id="myDiv"
                 style="padding-top: {% marginTop %};
                         padding-bottom:50px;
                         padding-left: {% marginLeft %};
                         text-align:center;">
                <svg  class="drawing"
                      style="background-color: #000000"
                      id="drawing">
                    <div id="dataPopup" style="position: absolute;
                            width: 200px;
                            z-index: 10;
                            background-color: #4b4b4b;
                            color: white;
                            border: solid 1px #fc0; visibility: hidden;" >

                    </div>
                </svg>
            </div>
        <footer>
            {%config%}
            {%scripts%}
            {%renderer%}
        </footer>
        <div>My Custom footer</div>
    </body>
</html>
